@media screen and (max-device-width: 833px) {
    .wrapper {
        max-width: 390px;
        margin: 0 auto;
        height: 100%;
    }

    
    .claddagh {
        display: flex;
        max-width: 100%;
        max-height: 200px;
        flex-direction: column;
        
    }

    h1 {
        font-weight: 400;
        margin-top: 53px;
        font-size: 20px;
        margin-left: 13px;
        margin-bottom: 30px;
    }

    .obrabotka li {
        font-family: Fugue;
        font-size: 42px;
        display: inline-block;
    }

    .obrabotka li:nth-child(2) {
        position: relative;
        top: 20px;
        transform: scale(1, -1);
        color: #8cc5f5;
    }

    .obrabotka li:nth-child(4) {
        position: relative;
        top: 20px;
        transform: scale(1, -1);
        color: #8cc5f5;
    }

    .obrabotka li:nth-child(7) {
        position: relative;
        top: 20px;
        transform: scale(1, -1);
        color: #8cc5f5;
    }

    .obrabotka li:last-child {
        position: relative;
        top: 20px;
        transform: scale(1, -1);
        color: #8cc5f5;
    }

    .obrabotka {
        margin-left: 13px;
    }

    .pyat {
        font-family: Fugue;
        font-size: 42px;
        font-weight: 700;
        text-align: end;
        border: 2px solid;
        width: fit-content;
        padding: 11px 22px;
        border-radius: 50%;
    }

    .right {
        display: flex;
        justify-content: end;
        position: relative;
        top: -135px;
        margin-right: 9px;
        margin-bottom: 132px;
    }

    .etapov {
        position: absolute;
        margin-left: 281px;
        top: 120px;
        width: 63px;
        height: 54px;
    }

    ul {
        margin-left: 64px;
        position: relative;
        top: -50px;
    }

    .anim_container {
        top: -537px;
        position: relative;
        display: block;
        width: 390;
        height: 121px;
        white-space: nowrap;
        overflow: hidden;
        z-index: 100;
    }

    .anim_wave {
        display: inline-block;
        animation: row 10s infinite linear;
        background-image: url(../img/390/волна.png);
        width: 834px;
        height: 121px;
        margin-left: -12px;
    }

    .black_volna_animation {
        width: 390px;
        position: absolute;
        top: 336px;
    }

    .black_volna_animation img {
        position: absolute;
        width: 100%;
    }

    .blue_volny {
        width: 390px;
        position: relative;
        top: -246px;
    }

    .blue_volny img {
        width: 100%;
    }

    .kamen {
        position: relative;
        top: -385px;
        height: 585px;
        width: 100%;
    }

    .kamen img:nth-child(1) {
        display: none;
    }


    .razmetka {
        margin-left: 25px;
        position: relative;
        top: -337px;
    }

    .edin {
        font-family: Fugue;
        font-size: 24px;
        font-weight: 700;
        text-align: end;
        border: 2px solid;
        width: fit-content;
        padding: 14px 19px;
        border-radius: 50%;
    }

    .nadpis_razmetka {
        font-family: Fugue;
        font-size: 24px;
        font-weight: 700;
        letter-spacing: 0.6em;
        position: relative;
        top: -338px;
        margin-left: 28px;
    }

    .kamen img:nth-child(2) {
        position: absolute;
        margin-left: 30px;
        width: 203px;
        top: -10px;
    }

    .kamen2 {
        width: 100%;
    }
    
    .kamen2>img:nth-child(1) {
        display: none;
    }

    .kamen img:nth-child(3) {
        display: block;
    }

    .raspilka {
        display: none;
    }

    .razmetkaEGG {
        position: absolute;
        top: 850px;
        /* left: 920px; */
        margin-left: 254px;
    }

    .dva {
        font-family: Fugue;
        font-size: 24px;
        font-weight: 700;
        text-align: end;
        border: 2px solid;
        width: fit-content;
        padding: 5px 12px;
        border-radius: 50%;
    }

    .razmetkaEGG2 {
        position: relative;
        top: -453px;
        margin-left: 38px;
    }

    .polirovka {
        display: none;
    }

    .polirovka2 {
        top: -422px;
        position: relative;
        margin-left: 77px;
    }

    .tri {
        font-family: Fugue;
        font-size: 24px;
        font-weight: 700;
        text-align: end;
        border: 2px solid;
        width: fit-content;
        padding: 15px 23px;
        border-radius: 50%;
    }

    .polirovka {
        position: relative;
        top: -803px;
        margin-left: 84px;
        width: 367px; 
    }

    .kamen2>img:first-child {
        width: 100%;
        position: relative;
        top: -632px;
        left: 1px;
    }

    .blue_animation {
        position: absolute;
        /* height: 888px; */
        top: 548px;
        margin-left: 180px;
        object-fit: cover;
    }

    .blue_animation * {
        position: absolute;
        width: 205px;
    }

    .fivth {
        z-index: 5;


    }

    .fourth {
        z-index: 4;
    }

    .third {
        z-index: 3;
    }

    .second {
        z-index: 2;
    }

    .first {
        z-index: 1;
    }

    .kamen3 {
        position: relative;
        top: -1684px;
        width: 100%;
    }

    .kamen3>img {
        width: 100%;
    }

    .dragon_animation {
        position: absolute;
        top: 931px;
        margin-left: 128px;
    }

    .dragon_animation img {
        position: absolute;
        width: 245px;
    }

    .cerny_dragon {
        z-index: 100;
    }

    .kamen4 {
        width: 100%;
        position: relative;
        height: 742px;
        top: -722px;
    }

    .kamen4 > img:nth-child(1) {
        display: none;
    }

    .kamen4 > img:nth-child(3){
        
    }

    .ogranka {
        display: none;
    }

    .razmetka_maly {
        position: relative;
        top: -322px;
        margin-left: 262px;
    }

    .four {
        font-family: Fugue;
        font-size: 24px;
        font-weight: 700;
        text-align: end;
        border: 2px solid;
        width: fit-content;
        padding: 16px 22px;
        border-radius: 50%;
    }

    .razmetka_maly_pyat {
        position: relative;
        top: -248px;
        margin-left: 312px;
    }

    .five {
        font-family: Fugue;
        font-size: 24px;
        font-weight: 700;
        text-align: end;
        border: 2px solid;
        width: fit-content;
        padding: 18px 24px;
        border-radius: 50%;
    }

    .montaz {
        position: absolute;
        font-weight: 700;
        font-family: Fugue;
        font-size: 24px;
        height: 540px;
        margin-left: 340px;
        margin-top: 469px;
    }

    .kamen4 img:first-child {
        width: 100%;
    }

    .kamni {
        position: absolute;
        top: 1479px;
    }

    .kamni img {
        width: 364px;

        /* object-fit: cover; */
        /* height: 100%; */
        /* margin-top: -35px; */
    }

    

    .author {
        position: absolute;
        top: 1687px;
        z-index: 100;
        font-weight: 700;
        font-size: 14px;
        font-family: Fugue;
        width: 143px;
        margin-left: 11px;
    }

    



    .peisaz {
        width: 100%;
        margin-top: -881px;
    }

    .peisaz img {
        width: 100%;
    }
}